.main_header {
    background-color: rgb(25, 182, 221);
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #e6e6e6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 15px 20px; /* Increased left and right padding for uniformity */
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.nav_list_item {
    border: 1px solid black; /* Optional, remove if not needed */
    padding: 5px; /* Padding for list items */
}

.nav_link {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
}

.logout_button {
    background-color: inherit;
    border: 1px solid black;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px; /* Padding to match nav_link */
    text-decoration: none;
    cursor: pointer;
    margin-left: auto; /* Pushes the logout button to the right */
}
